@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";   
}

.header-container {
    background-color: #ffffff;
    grid-area: header;
}

.main-container {
    background-color: #e2e8f0;
    grid-area: main;
}


.sidebar-container {
    background-color: #1992d4;
    grid-area: sidebar;
    color: #ffffff;
    display: grid;
    grid-template-rows: 1.5fr .5fr repeat(13, 1fr);
    grid-template-areas: 
        "dash"
        "."
        "ho"
        "p"
        "m"
        "hi"
        "t"
        "c"
        "."
        "sett"
        "supp"
        "priva";
}

.nav-header { 
    grid-area: dash;
}

.home { grid-area: ho;}
.profile { grid-area: p;}
.messages { grid-area: m;}
.history { grid-area: hi;}
.tasks { grid-area: t;}
.comm { grid-area: c;}
.settings { grid-area: sett;}
.support { grid-area: supp;}
.priva { grid-area: priva;}

.nav-header,
.nav-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.icon > img {
    height: 24px;
    width: 24px;
}

img.dashboard-icon,
.profile.mini > img {
    height: 48px;
    width: 48px;
}

h1.dash-text {
    font-size: 1.8rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    align-items: center;
}

.icon,
.dashboard-icon {
    align-self: center;
    justify-self: center;
}

.nav-text,
.dash-text {
    align-self: center;
    font-size: 1.3rem;
}

.profile.full > img {
    height: 84px;
    width: 84px;
}

.header-container {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 0 60px;
    position: sticky;
    top: 0;
}

.user-info,
.search-div,
.profile-action {
    display: flex;
}

.search-div,
.profile-action {
    align-items: center;
}

.search-div > input[type = "search"] {
    flex: 1;
    background-color: #e1e7ef;
    border-radius: 20px;
    border: none;
    height: 36px;
    padding: 10px;
    margin-right: 40px;
}

input[type = "search"]:focus {
    outline: none;
}


.search-icon img {
    vertical-align: middle;
    margin-right: 20px;
}

.profile.full img {
    margin: 10px 0;
    margin-right: 20px;
    
}

.profile-action {
    display: flex;
    justify-content: flex-end;
}

.profile-action > a {
    margin: 15px;
}

.greeting-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting-message p {
    font-weight: bold;
    margin: 0;
}

.name.username { font-size: 2rem;}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons button {
    background-color: #1991d2;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 105px;
    font-weight: bold;
    font-size: 1rem;
}

.main-container {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    padding: 25px;
    gap: 25px;
}

.projects { 
    grid-row: 1 / 3;
}

.projects > h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    margin: 15px 0;
}

.announcements { background-color: aquamarine;}
.trending { background-color: tan;}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
}

.card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow:inset 10px 0 0 0 #f0b428;
    box-shadow:inset 10px 0 0 0 #f0b428;
}

.card p {
    font-size: 1.1rem;
    color: #636363;
    margin: 0;
    flex: 1;
}

.card h4 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;
}

.project-icon-container {
    align-self: flex-end;
    margin-top: 25px;
}

.project-icon-container .icon {
    margin-left: 25px;
}